<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--Header 영역을 참조합니다.-->
    <header th:replace="layout/header :: HeaderFragment"></header>

    <div class="container">
        <div>
            <h1>Hello Spring</h1>
            <p>회원 기능</p>
            <p>
                <a href="home/signup">회원 가입</a>
                <a href="home/list">회원 목록</a>
            </p>
        </div>
    </div>
    <script src="/js/test.js"></script>

    <!--Footer 영역을 참조합니다.-->
    <footer th:replace="layout/footer :: FooterFragment"></footer>
</body>
</html>